<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
    <script src="../morris.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
    <script src="build/js/ReportScripts.js"></script>
    <link rel="stylesheet" href="lib/example.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css">
    <link rel="stylesheet" href="../morris.css">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div id="graph7"></div>



</body>


</html>